In [48]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [49]:
# use wsl2 ip address instead of localhost 
engine = create_engine('postgresql://postgres:postgres@172.25.150.1:5432/ny_taxi')

In [50]:
engine.connect()

In [3]:
df = pd.read_csv('green_tripdata_2019-10.csv')

C:\Users\sarah\AppData\Local\Temp\ipykernel_22404\1386532404.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

In [4]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [40]:
# generate schema for use in docker postgres 
# in DDL (data definition language)
# connection to postgres to specify 
print(pd.io.sql.get_schema(df, name="taxi_data",con=engine))

CREATE TABLE taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [41]:
# correct datatype of PU,DO datetime columns 
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.pep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

C:\Users\sarah\AppData\Local\Temp\ipykernel_22404\3491851173.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.pep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [42]:
# create the table using only the colum headers 
df.head(n=0).to_sql(name = 'taxi_data', con=engine, if_exists='replace')

0

In [43]:
# batch using iterators
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [44]:
# loop until exception of no more data 

while True:
    try:
        t_start = time()
        df = next(df_iter)

        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

        df.to_sql(name = 'taxi_data', con=engine, if_exists='append')
        t_end = time()
        
        print('inserted next chunk in %.3f seconds'% (t_end - t_start))
    except StopIteration:
        print("All chunks processed.")
        break
    except Exception as e:
        print(f"Error occurred: {e}")
        break

inserted next chunk in 9.998 seconds
inserted next chunk in 9.650 seconds
inserted next chunk in 9.783 seconds

C:\Users\sarah\AppData\Local\Temp\ipykernel_22404\3412845910.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted next chunk in 9.730 seconds
inserted next chunk in 6.653 seconds
All chunks processed.

In [45]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [46]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [51]:
df_zones.to_sql(name='zones', con=engine,if_exists='replace')

265